
/* ======================== CONTENT HEADER ======================== */

.notes-panel {
  height: 100%;
  width: 100%;

  padding: 0rem 1rem 0rem 1rem;
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
}

.content-header {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;

  border-bottom: 3px solid var(--border);
  margin-bottom: 0.75rem;
}

.content-heading-container {
  gap: 1rem;
  padding: 0.5rem 0 1rem 0;
}

.content-heading {
  height: 100%;

  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 0 0.5rem 0.1rem 0.5rem;

  display: flex;
  align-items: center;

  white-space: pre-wrap;   /* keeps line breaks + wraps */
  word-break: break-word;  /* prevents overflow on long words */
  overflow-wrap: anywhere; /* extra safety */
}

.content-button {
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  font-size: 0.85rem;
}

.content-subheader {
  font-size: 0.8rem;
  color: var(--text-muted);
  padding-top: 0.2rem;
}

.content-fss-labels {
  font-size: 0.8rem;
  color: var(--text-muted);
  gap: 0.5rem;

  padding: 0.75rem 0 0.2rem 0;
  border-top: 1px solid var(--border);
  margin-top: 0.75rem;
}

.content-fss-labels div {
  width: 100%;
}

.content-fss{
  gap: 0.5rem;
  padding-bottom: 0.75rem;
}

.content-fss button {
  width: 100%;
  padding: 0.4rem;
}

.content-header .search-box input {
  background-color: var(--surface);
}

.content-header .dropdown-button {
  background-color: var(--surface);
}

.content-header .dropdown-button:hover {
  background-color: var(--border);
}

/* ======================== CONTENT BODY ======================== */

.content-body {
  width: 100%;
  flex: 1;
  padding-right: 0.5rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  overflow-y: scroll;
}

.no-notes {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.note-card {
  width: 100%;

  border: 1px solid var(--border);
  border-radius: 0.5rem;

  display: flex;
}

.note-card-drag {
  height: 100%;
  min-height: 2rem;
  width: 2rem;

  background-color: inherit;
  font-size: 1rem;
  color: var(--text-muted);

  border: none;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: 1px solid var(--border);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.45rem;
}

.note-card-text {
  flex: 1;
  padding: 0.5rem 0.75rem;

  font-size: 1rem;
  line-height: 1.25rem;

  border: 3px solid var(--bg);
  border-radius: 0;
  
  cursor: pointer;
  white-space: pre-wrap;
}

.note-card-textarea {
  flex: 1;
  padding: 0.5rem 0.75rem;
  
  font-size: 1rem;
  line-height: 1.25rem;
  
  border: 3px solid var(--primary);
  border-radius: 0;
  
  background-color: var(--bg);
  color: var(--text);
  
  box-shadow: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
}

.note-card-text:hover {
  background-color: var(--surface);
  border: 3px solid var(--surface)
}

.note-card-textarea:hover {
  background-color: var(--surface);
  border: 3px solid var(--primary);
}

.highlight {
  background-color: var(--primary);
}

.note-card-reactions-container {
  height: 100%;
  min-height: 4rem;

  border-left: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note-card-reaction, .note-card-id {
  height: 2rem;
  min-width: 2rem;
  width: 100%;

  border-radius: 0;
  border: none;
  background-color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.note-card-id {
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.note-card-reaction i {
  opacity: 0;
  /* transition: opacity 0.1s ease; */
}

.note-card:hover .note-card-reaction i {
  opacity: 1;
}

.note-card-reaction i.active {
  opacity: 1;
}

/* ======================== CONTENT FOOTER ======================== */

.content-footer {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 3px solid var(--border);
}

.content-footer input {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--surface);
}

.content-footer button {
  height: 100%;
  aspect-ratio: 1 / 1;

  background-color: var(--surface);
  margin-left: 0.5rem;
}

.content-footer button:hover {
  background-color: var(--border);
}
