
/* index.css handles the styling of the entire app */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, sans-serif, Arial;
}

:root {
  font-size: 14px;
  line-height: 1rem;

  /* light theme */
  --bg: #ffffff;
  --surface: #fafafa;
  --border: #eaeaea;

  --text: #333333;
  --text-muted: #64748b;

  --primary: #00bb99;
  --primary-hover: #00a385;
}

[data-theme="dark"] {
  /* dark theme */
  --bg: #171717; /* main background */
  --surface: #272727; /* cards and panels */
  --border: #373737; /* borders */

  --text: #e2e2e2; /* main text */
  --text-muted: #c2c2c2; /* lesser text like subtitles */
  
  --primary: #55ebd7; /* main brand colour */
  --primary-hover: #29c4af; /* hover brand colour */
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100vh;
}

button {
  background-color: var(--surface);
  color: var(--text);

  border: 1px solid var(--border);
  border-radius: 0.5rem;

  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

button:hover {
  background-color: var(--border);
}

input, textarea {
  width: 100%;

  border: 1px solid var(--border);
  border-radius: 0.5rem;

  background-color: var(--surface);
  color: var(--text);

  box-shadow: none;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: calc(1.25rem * 5);
  max-height: 25vh;
}

input:focus,
textarea:focus {
  border-color: var(--primary);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}

.bi-pin-angle-fill {
  color: rgb(255, 50, 50);
}

.bi-star-fill {
  color: gold;
}

.bi-archive-fill {
  color: magenta;
}

.bi-dot {
  margin: 0 0.25rem;
}

.cross-out {
  text-decoration: line-through;
}

.flexrow {
  width: 100%;
  display: flex;
  align-items: center;
}
